<div class="deployment">
  <%= render partial: "layouts/header" %>
  <h3 class="deployment-heading" >Config Files</h3>
  <h4 class="deployment-redeploy-button"><%= link_to "New Config File", new_config_file_path %></h4>
  <table class="deployment-table deployment-table-with-heading">
  	<thead>
  	  <tr>
  	  	<th>ID</th>
  	  	<th>Path</th>
  	  	<th>Value</th>
  	  	<th></th>
  	  </tr>
  	</thead>
  	<tbody>
  	  <% @config_files.each do |config_file| %>
  	    <tr>
  	      <td><%= link_to config_file.id, config_file_path(config_file.id) %></td>
  	      <td><%= config_file.path %></td>
  	      <td><%= config_file.value %></td>
  	      <td>
  	        <%= link_to "View", config_file_path(config_file.id) %>
  	        <%= link_to "Edit", edit_config_file_path(config_file.id) %>
  	        <%= link_to "Delete", config_file_path(config_file.id), data: {method: "delete", confirm: "Are you sure?"} %>
  	      </td>
  	    </tr>
  	  <%end%>
  	</tbody>

  </table>
<!--   <div id="container">
  </div>
  <script type="text/javascript">
    blackKnight.environmentPage(document.getElementById("container"), <%= current_deploy_environment.id %>)
  </script> -->
</div>
