<div class="config-file">
  <h3>New Config File</h3>
  <%= form_for @config_file, url: environment_config_files_path(current_deploy_environment) do |f| %>

    <%= f.label :path, class: "config-file__label" %>
    <%= f.text_field :path, class: "config-file__input" %>

    <%= f.label :value, class: "config-file__label" %>
    <%= f.text_area :value, size: "24x35", class: "config-file__input" %>

    <%= f.submit "Create", class: "config-file__button" %>
  <% end %>
</div>