<!DOCTYPE html>
<html>
  <head>
    <title>Black Knight, Deployments made Easy!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <div class="layout-leftbar leftbar">
      <a href="<%= root_path %>">
	<img class="leftbar-logo" src="<%= image_path('logo.png') %>"/>
      </a>
      <%= render partial: "layouts/left_bar" if current_user %>
    </div>
    <div class="layout-content"><%= yield %></div>
    <script type="text/javascript">
      blackKnight.publishersMenu();
      blackKnight.searchPub();
    </script>
  </body>
</html>
